 <h2>Add a Card to Your Inventory</h2>
  <form class="card-search-form">
    <div>
      <label for="card-name">Card Name</label>
      <input type="text" id="card-name" name="card-name" />
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</section>

<div class="card-search-container" id="card-search-container"></div>


{{#if cards.length}}
<section class="user-collection">
  <h2>{{cards.0.user.username}}'s Inventory</h2>
  <div class="card-wrapper">
    {{#each cards as |card|}}
    <div class="card-container">
      <img src="{{img_uri}}" alt="image of {{card_name}}" data-id="{{id}}">
      <p data-id="{{id}}">{{card_name}}</p>
      <button type="button" class="remove-card-btn" data-id="{{id}}">Remove card</button>
    </div>
    {{/each}}
  </div> 
</section>
{{/if}}




<script src="/javascript/search-card.js"></script>
<script src="/javascript/remove-card.js"></script>